main {
  background-color: #14100b;
}

.white {
  color: #f2f2f2;
}

.bg-white {
  background-color: #f2f2f2;
}

.black {
  color: #14100b;
}

.bg-black {
  background-color: #14100b;
}

.gray {
  color: #63736d;
}

.bg-gray {
  background-color: #63736d;
}

.red {
  color: #a62934;
}

.bg-red {
  background-color: #a62934;
}

.lightred {
  color: #d9515e;
}

.bg-lightred {
  background-color: #d9515e;
}
