/* **********************************
--- FONT FAMILY ---
- Inter (Google font), sans-serif


--- FONT SIZE SYSTEM (px) ---
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- FONT WEIGHTS ---
- 400 / 500 / 600 / 700


--- SPACING SYSTEM (px) ---
- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


--- COLORS ---
- #a62934  -> shade: #95252f;
- #d9515e
- #f2f2f2
- #63736d
- #14110b

********************************** */

/*
--- GLOBAL RESET & SETTINGS ---
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #f2f2f2;
  background-color: #14110b;
}

.screen {
  height: 100vh;
}

/* *** GENERAL COMPONENTS (RESUSEABLE) *** */

/* BUTTONS */
.btn {
  border-radius: 16px;
  padding: 4px 16px;
}

.btn:hover {
  color: #f2f2f2 !important;
}

.btn-cta {
  color: #f2f2f2;
  background-color: #a62934;
}

.btn-cta:hover {
  color: #f2f2f2;
  background-color: #95252f;
}

/* BORDERS */
.border-danger {
  border-color: #d9515e !important;
}

/* 
--- MOBILE SETTINGS (< 576px) ---
*/

/* NAVBAR */
.navbar-dark {
  color: #f2f2f2 !important;
}

.bg-dark {
  background-color: #14110b !important;
}

.navbar-brand-img {
  height: 62px;
}

.navbar-toggler {
  border-color: #f2f2f2 !important;
  padding: 6px 12px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  color: #f2f2f2 !important;
  text-align: center;
  transition: all 0.6s;
}

.nav-link:hover,
.nav-link:active {
  color: #d9515e !important;
  border-bottom: 0.5px solid #d9515e;
}

.navbar-collapse-icon {
  color: #f2f2f2;
}

/* MAIN */
.main {
  /* Offset navbar height by (72+8+8+4) = 92px */
  margin-top: 92px;
  /* Offset footer height by (164+24+16+4) = 208px */
  margin-bottom: 208px;
}

/* HERO SECTION */
.section-hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  /* Offset height by navbar height */
  height: calc(100vh - 92px);
}

.section-hero-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.section-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.section-hero-header {
  font-size: 36px;
}

.section-hero-tagline {
  font-size: 20px;
}

.section-hero-icon {
  font-size: 40px;
  position: absolute;
  bottom: 50px;

  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-16px);
  }
  60% {
    transform: translateY(-8px);
  }
}

/* ABOUT SECTION */
.section-header {
  text-align: center;
}

/* FOOTER */
.footer-logo-img {
  height: 52px;
}

.footer-logo-text {
  font-size: 16px;
  font-weight: 500;
}

.footer-social-icon {
  font-size: 12px;
}

.footer-copyright {
  font-size: 8px;
}

/* 
--- MEDIUM SCREEN SETTINGS (768px and above) ---
*/
@media screen and (min-width: 768px) {
  /* NAVBAR */
  .navbar-brand-img {
    height: 74px;
  }

  /* MAIN */
  .main {
    /* Offset navbar height by (84+8+8+4) = 104px */
    margin-top: 104px;
    /* Offset footer height by (177+24+16+4) = 221px */
    margin-bottom: 208px;
  }

  /* HERO SECTION */
  .section-hero {
    /* Offset height by navbar height */
    height: calc(100vh - 104px);
  }

  .section-hero-container {
    align-items: flex-start;
    gap: 8px;
    transform: translateX(-40%);
  }

  .section-hero-header {
    font-size: 62px;
  }

  .section-hero-tagline {
    font-size: 34px;
  }

  /* FOOTER */
  .footer-logo-img {
    height: 62px;
  }

  .footer-logo-text {
    font-size: 16px;
  }

  .footer-social-icon {
    font-size: 12px;
  }

  .footer-copyright {
    font-size: 10px;
  }
}

/* 
--- LARGE SCREEN SETTINGS (992px and above) ---
*/
@media screen and (min-width: 992px) {
  /* NAVBAR */
  .navbar-brand-img {
    height: 80px;
  }

  /* MAIN */
  .main {
    /* Offset navbar height by (90+8+8+4) = 110px */
    margin-top: 110px;
    /* Offset footer height by (0237.188+24+16+4) = 281.188px */
    margin-bottom: 281.188px;
  }

  /* HERO SECTION */
  .section-hero {
    /* Offset height by navbar height */
    height: calc(100vh - 110px);
  }

  .section-hero-container {
    align-items: flex-start;
    gap: 8px;
    transform: translateX(-70%);
  }

  .section-hero-header {
    font-size: 62px;
  }

  .section-hero-tagline {
    font-size: 34px;
  }

  /* FOOTER */
  .footer-logo-img {
    height: 74px;
  }

  .footer-logo-text {
    font-size: 20px;
  }

  .footer-social-icon {
    font-size: 16px;
  }

  .sitemap-list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
  }

  .sitemap-header {
    font-size: 16px;
  }

  .sitemap-link,
  .sitemap-link:link,
  .sitemap-link:visited {
    color: #f2f2f2;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.5s;
    white-space: nowrap;
  }

  .sitemap-link:hover,
  .sitemap:active {
    color: #d9515e;
  }

  .footer-copyright {
    font-size: 12px;
  }
}

/* 
--- EXTRA LARGE SCREEN SETTINGS (1200px and above) ---
*/
@media screen and (min-width: 1200px) {
  .section-hero-container {
    align-items: flex-start;
    gap: 8px;
    transform: translateX(-100%);
  }

  .section-hero-header {
    font-size: 62px;
  }

  .section-hero-tagline {
    font-size: 34px;
  }
}

/* 
--- EXTRA EXTRA LARGE SCREEN SETTINGS (1400px and above) ---
*/
@media screen and (min-width: 1400px) {
  /* HERO SECTION */
  .section-hero-container {
    align-items: flex-start;
    gap: 8px;
    transform: translateX(-120%);
  }
}

/* 
--- EXTRA EXTRA EXTRA LARGE SCREEN SETTINGS (1600px and above) ---
*/
@media screen and (min-width: 1600px) {
  /* HERO SECTION */
  .section-hero-container {
    align-items: flex-start;
    gap: 8px;
    transform: translateX(-150%);
  }

  .section-hero-header {
    font-size: 74px;
  }

  .section-hero-tagline {
    font-size: 36px;
  }
}
