/* **********************************
--- FONT FAMILY ---
- Inter (Google font), sans-serif


--- FONT SIZE SYSTEM (px) ---
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- FONT WEIGHTS ---
- 400 / 500 / 600 / 700


--- SPACING SYSTEM (px) ---
- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


--- COLORS ---
- #a62934
- #d9515e
- #f2f2f2
- #63736d
- #14110b

********************************** */

/*
--- GLOBAL RESET & SETTINGS ---
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* *** GENERAL COMPONENTS *** */

.justify-self-end {
  justify-self: flex-end;
}

.btn-cta {
  color: #f2f2f2;
  background-color: #a62934;
}

/* *** BOOTSTRAP OVERWRITES *** */
.navbar-dark {
  color: #f2f2f2 !important;
}

.bg-dark {
  background-color: ##14110b !important;
}

.btn:hover {
  color: #f2f2f2 !important;
}

/* 
--- MOBILE SETTINGS (< 576px) ---
*/

/* NAVBAR */
.navbar-brand-img {
  height: 80px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  color: #f2f2f2;
}

.nav-link:hover,
.nav-link:active {
  color: #d9515e !important;
}

.collapse-icon {
}

/* 
--- MOBILE (LANDSCAPE) SETTINGS (576px and above) ---
*/
@media screen and (min-width: 576px) {
}

/* 
--- TABLET SETTINGS (768px and above) ---
*/
@media screen and (min-width: 768px) {
}

/* 
--- TABLET (LANDSCAPE) SETTINGS (992px and above) ---
*/
@media screen and (min-width: 992px) {
}

/* 
--- LAPTOP SETTINGS (1200px and above) ---
*/
@media screen and (min-width: 1200px) {
}

/* 
--- LARGE SCREEN SETTINGS (1400px and above) ---
*/
@media screen and (min-width: 1400px) {
}
